# Исключаем VCS
.git
.gitignore

# Исключаем IDE
.idea/
.vscode/

# Исключаем двоичные файлы
/banner-rotator

# Исключаем зависимости Go (если не используешь go mod vendor)
vendor/

# Исключаем тестовые результаты и покрытия
*.out
*.test

# Исключаем временные файлы и логи
*.log
*.swp
*.tmp

# Исключаем локальные .env файлы
*.env

# Исключаем http-запросы IDE
httpRequests/

# Исключаем служебные файлы GoLand
*.iml
.DS_Store
