# HTTP
http_port: "8080"

# Logging
log_level: "debug"

# PostgreSQL
postgres:
  host: "postgres"       # внутри Docker — имя сервиса, для локалки можно переопределить ENV на localhost
  port: 5432
  user: "postgres"
  password: "postgres"
  dbname: "bannerdb"     # имя базы по умолчанию
  sslmode: "disable"
  timeout: 5s            # таймаут подключения

# Kafka
kafka:
  brokers:
    - "kafka:9092"       # внутри Docker — адрес брокера
  topic: "banner-events" # Kafka-топик для событий баннера

#  Algorithms
epsilon: 0.1